@import "../variables";

.errorWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.errorHeader {
  border-bottom: 2px solid $danger;
  padding-bottom: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $danger;
}

.errorTitle {
  color: $danger;
  font-size: 24px;
}

.errorMessageItem {
  list-style-type: disc;
  color: $danger;

  &__text {
    font-size: 20px;
    color: $black;
  }

}

.errorMessageItem + .errorMessageItem {
  margin-top: 20px;
}

.errorInfo {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorHelp {
  border-radius: 12px;
  background-color: $black;
  color: $warning;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__text {
    font-size: 14px;
    margin-left: 20px;
    color: $warning;
    font-style: italic;
  }
}
